{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>Postero Co. - Soluções para seu negócio</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="empresa, tecnologia, soluções, software">
	<meta name="description" content="A Postero Co. é uma empresa voltada ao desenvolvimento de soluções tecnológicas.">
	<meta name="copyright" content="Postero Company">
	<!--

Template 2075 Digital Team

http://www.tooplate.com/view/2075-digital-team

-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'portal/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'portal/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'portal/css/et-line-font.css' %}">
	<link rel="stylesheet" href="{% static 'portal/css/nivo-lightbox.css' %}">
	<link rel="stylesheet" href="{% static 'portal/css/nivo_themes/default/default.css' %}">
	<link rel="stylesheet" href="{% static 'portal/css/style.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

	<!-- preloader section -->
	<div class="preloader">
		<div class="sk-spinner sk-spinner-circle">
			<div class="sk-circle1 sk-circle"></div>
			<div class="sk-circle2 sk-circle"></div>
			<div class="sk-circle3 sk-circle"></div>
			<div class="sk-circle4 sk-circle"></div>
			<div class="sk-circle5 sk-circle"></div>
			<div class="sk-circle6 sk-circle"></div>
			<div class="sk-circle7 sk-circle"></div>
			<div class="sk-circle8 sk-circle"></div>
			<div class="sk-circle9 sk-circle"></div>
			<div class="sk-circle10 sk-circle"></div>
			<div class="sk-circle11 sk-circle"></div>
			<div class="sk-circle12 sk-circle"></div>
		</div>
	</div>

	<!-- navigation section -->
	<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Postero Co.</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home" class="smoothScroll">INÍCIO</a></li>
					<li><a href="#work" class="smoothScroll">SERVIÇOS</a></li>
					<li><a href="#about" class="smoothScroll">SOBRE</a></li>
					<li><a href="#team" class="smoothScroll">EQUIPE</a></li>
					<li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li>
					<li><a href="#contact" class="smoothScroll">CONTATO</a></li>
				</ul>
			</div>
		</div>
	</section>

	<!-- home section -->
	<section id="home">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h3>SOLUÇÕES DO FUTURO PARA SEU NEGÓCIO DE AGORA</h3>
					<h1>POSTERO CO.</h1>
					<hr>
					<a href="#work" class="smoothScroll btn btn-danger">O que fazemos</a>
					<a href="#contact" class="smoothScroll btn btn-default">Fale conosco</a>
				</div>
			</div>
		</div>
	</section>

	<!-- work section -->
	<section id="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<strong>01</strong>
						<h1 class="heading bold">O QUE FAZEMOS</h1>
						<hr>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<i class="icon-cloud medium-icon"></i>
					<h3>CRIAÇÃO DE SITES</h3>
					<hr>
					<p>Site com responsividade e design único de acordo com as características do seu negócio.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
					<i class="icon-mobile medium-icon"></i>
					<h3>APLICATIVOS MÓVEIS</h3>
					<hr>
					<p>Conte conosco para levar seu negócio aos novos queridinhos do público – os smartphones.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
					<i class="icon-laptop medium-icon"></i>
					<h3>LOJAS VIRTUAIS</h3>
					<hr>
					<p>Desenvolvemos sua loja virtual para ser acessível por qualquer um no celular, tablet ou computador.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
					<i class="icon-compass medium-icon"></i>
					<h3>SOFTWARES</h3>
					<hr>
					<p>Desenvolvemos softwares sob medida para atender suas necessidades.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
					<i class="icon-chat medium-icon"></i>
					<h3>OTIMIZAÇÃO SEO</h3>
					<hr>
					<p>Garantimos elevar seu número de visitantes com base nas tecnologias dos mais modernos motores de busca.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
					<i class="icon-browser medium-icon"></i>
					<h3>REFORMULAÇÃO DE SITE</h3>
					<hr>
					<p>Sua solução online não chama mais atenção do público? Podemos resolver isso para você.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- about section -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 text-center">
					<div class="section-title">
						<strong>02</strong>
						<h1 class="heading bold">NOSSA EMPRESA</h1>
						<hr>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<img src="{% static 'portal/images/about-img.jpg' %}" class="img-responsive" alt="about img">
				</div>
				<div class="col-md-6 col-sm-12">
					<h3 class="bold">POSTERO CO.</h3>
					<h1 class="heading bold">Soluções sobre medida para seu negócio</h1>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">DESIGN</a></li>
						<li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">MOBILE</a></li>
						<li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
					</ul>
					<!-- tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="design">
							<p>Duis aute irure dolor in <a href="#">reprehenderit</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed id est tincidunt, iaculis nulla vel, sodales metus. Morbi interdum accumsan augue, in accumsan neque lacinia sed. Fusce cursus
								eu ligula ut gravida.</p>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="mobile">
							<p>Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p><a href="#">Duis aute irure dolor</a> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="social">
							<p>Pellentesque elementum, lacus sit amet <a href="#">hendrerit</a> posuere, quam quam tristique nisi, nec ornare ligula magna id nisl. Donec blandit enim ac semper facilisis. Curabitur eu laoreet mauris, eget fermentum velit.</p>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- team section -->
	<section id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<strong>03</strong>
						<h1 class="heading bold">O TIME DE OURO</h1>
						<hr>
					</div>
				</div>
				<div class="col-md-offset-3 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
					<div class="team-wrapper">
						<img src="{% static 'portal/images/team1.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Felipe</h4>
							<h3>Front-End Desenvolvedor</h3>
							<hr>
							<ul class="social-icon">
								<li>
									<a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a>
								</li>
								<li>
									<a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a>
								</li>
								<li>
									<a href="#" class="fa fa-github wow fadeIn" data-wow-delay="0.9s"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
					<div class="team-wrapper">
						<img src="{% static 'portal/images/team2.png' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Francisco</h4>
							<h3>Back-End Desenvolvedor</h3>
							<hr>
							<ul class="social-icon">
								<li>
									<a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a>
								</li>
								<li>
									<a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a>
								</li>
								<li>
									<a href="#" class="fa fa-github wow fadeIn" data-wow-delay="0.9s"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- portfolio section -->
	<div id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<strong>04</strong>
						<h1 class="heading bold">NOSSO PORTFOLIO</h1>
						<hr>
					</div>
					<!-- ISO section -->
					<div class="iso-section">
						<ul class="filter-wrapper clearfix">
							<li><a href="#" data-filter="*" class="selected opc-main-bg">Todos</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
						</ul>
						<div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
							<div class="iso-box-wrapper col4-iso-box">
								<div class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6">
									<a href="{% static 'portal/images/portfolio-img1.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'portal/images/portfolio-img1.jpg' %}" alt="portfolio img"></a>
								</div>
								<div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
									<a href="{% static 'portal/images/portfolio-img2.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'portal/images/portfolio-img2.jpg' %}" alt="portfolio img"></a>
								</div>
								<div class="iso-box html mobile col-lg-4 col-md-4 col-sm-6">
									<a href="{% static 'portal/images/portfolio-img3.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'portal/images/portfolio-img3.jpg' %}" alt="portfolio img"></a>
								</div>
								<div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
									<a href="{% static 'portal/images/portfolio-img4.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'portal/images/portfolio-img4.jpg' %}" alt="portfolio img"></a>
								</div>
								<div class="iso-box html photoshop col-lg-4 col-md-4 col-sm-6">
									<a href="{% static 'portal/images/portfolio-img5.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'portal/images/portfolio-img5.jpg' %}" alt="portfolio img"></a>
								</div>
								<div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6">
									<a href="{% static 'portal/images/portfolio-img6.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'portal/images/portfolio-img6.jpg' %}" alt="portfolio img"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- contact section -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 text-center">
					<div class="section-title">
						<strong>05</strong>
						<h1 class="heading bold">ENTRE EM CONTATO</h1>
						<hr>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 contact-info">
					<h2 class="heading bold">TRAGA SEU NEGÓCIO PARA O MUNDO DE HOJE</h2>
					<p>Deixe-nos ajudar e veja como pode ser simples.</p>
					<div class="col-md-6 col-sm-4">
						<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
						<p>contato@postero.com.br</p>
					</div>
					<div class="col-md-6 col-sm-4">
						<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> TELEFONE</h3>
						<p>84 99636.1872 | 84 99900.9347</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
						<div class="col-md-6 col-sm-6">
							<input type="text" class="form-control" placeholder="Nome" name="name">
						</div>
						<div class="col-md-6 col-sm-6">
							<input type="email" class="form-control" placeholder="Email" name="email">
						</div>
						<div class="col-md-12 col-sm-12">
							<textarea class="form-control" placeholder="Mensagem" rows="7" name="message"></textarea>
						</div>
						<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
							<input type="submit" class="form-control" value="ENVIAR MENSAGEM">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- footer section -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<p>Copyright © Postero Company | Design: <a href="http://www.tooplate.com" target="_parent">Tooplate</a></p>
					<!-- <hr>
					<ul class="social-icon">
						<li>
							<a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a>
						</li>
						<li>
							<a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a>
						</li>
						<li>
							<a href="#" class="fa fa-github wow fadeIn" data-wow-delay="0.9s"></a>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
	</footer>


	<script src="{% static 'portal/js/jquery.js' %}"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{% static 'portal/js/smoothscroll.js' %}"></script>
	<script src="{% static 'portal/js/isotope.js' %}"></script>
	<script src="{% static 'portal/js/imagesloaded.min.js' %}"></script>
	<script src="{% static 'portal/js/nivo-lightbox.min.js' %}"></script>
	<script src="{% static 'portal/js/jquery.backstretch.min.js' %}"></script>
	<script src="{% static 'portal/js/wow.min.js' %}"></script>
	<script src="{% static 'portal/js/custom.js' %}"></script>

</body>

</html>
